
$font-primary: 'VagRoundBold';
$fw-light: 'VagRoundLight';
$fw-black: 'VagRoundBlack';
$white: #ffffff;
$black: #000000;
$very-light-pink: #c7c7c7;
$text-input-field: #f7f7f7;
$hospital-green: #acd9b2;
$sm: 14px;
$md: 16px;
$lg: 18px;

$color-primary-boton: #E1A26A;
$color-hover-boton: rgb(250, 170, 100);
$color-second-boton: #E9B88C;
$color-letras-bold: #A77A23;
$color-hipervinculos: #DCA644;

$fondo-dog: url(https://as2.ftcdn.net/v2/jpg/03/41/73/57/1000_F_341735787_46xjDjoh5T9dShls1sIudnJ08kHqcMRW.jpg);

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}